:root {
  --primary-dark-color: rgba(51,8,103,1);
  --primary-light-color: rgba(48,206,207,1);
  --bg-primary-gradient: linear-gradient(90deg, var(--primary-dark-color) 0%, var(--primary-light-color) 100%)
}

body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #111;
}

h1{
  margin: 0;
  padding: 1rem 0;
}

.story {
  padding: 0 0;
}

.article-title-header{
  position: sticky;
  top: 0;
  background-color: #fff;
}

#progress-bar{
  display: block;
  background-color: red;
  width: 0%;
  height: .2rem;
  color: rgba(255, 255, 255, 0);
  background: var(--primary-dark-color);
  background: var(--bg-primary-gradient);
}

.content {
  display: flex;
  /* background-color: pink; */
}

#nav-summary {
  /* background-color: red; */
  display: inline-block;
  width: 50%;
}

#nav-summary ul{
  position: sticky;
  top:5rem;
}

.article-body{
  display: inline-block;
  width: auto;
  /* background-color: cyan; */
}

.marked-summary{
  background-color: pink;
}

.next-article{
  text-align: right;
}

